:root {
  --color-scale1: #43389f;
  --color-scale2: #4ec6ca;
  --color-white: #ffffff;
  --font-great: 5.125rem;
  --font-normal: 1.438rem;
  --font-weight: 700;
  --font-family: "Courier Prime", monospace;
}
